<div class="col-md-12">
    <nb-card class="col-md-12">
      <nb-card-header>
        <H4>ເລືອກສະມາຊີກ</H4>
      </nb-card-header>
      <nb-card-body>

          <div class="table-responsive">
              <table id="example" class="table table-bordered" >
              
              <thead>
              <tr>
                  
                  <th width="200px">ຊື່ສະມາຊິກ</th>
                  <th width="200px">ນາມສະກຸນ</th>
                  <th width="200px">ພະແນກ</th>
                  <th width="10%">ແກ້ໄຂ</th>
                  <th width="10%">ເລືອກ</th>
                  
                 
                  
              </tr>
              </thead>
              <tbody>
                      <tr *ngFor="let u of userList; index as i">
                        <td>{{u._id}} -- {{u.firstname}}</td>
                        <td>{{u.lastname}}</td>
                        <td>{{u.department}}</td>
                        <td align="center"><input type="checkbox" [checked]="getEditObj(u)" (input)='seleteEditObj(u)'></td>
                        <td align="center"><input type="checkbox" [checked]="getSeleteObj(u)" (input)='seleteObj(u)'></td>
                            
                             
                              
                      </tr>
                  
                    
              </tbody>
          </table>
         
      </div>
      
      </nb-card-body>
      <nb-card-footer>
        <button type="submit" class="btn btn-success" (click)="updateUser()">
          Save
        </button>

        &nbsp;
        <button class="btn btn-default" (click)="close()">
          close
        </button>

      </nb-card-footer>
    </nb-card>
  </div>
