<div class="col-md-12">
    <nb-card class="col-md-12">
      <nb-card-header>
        <H4>ຂໍ້ມູນຜູ້ໃຊ້</H4>
      </nb-card-header>
      <nb-card-body>

          <div class="table-responsive">
              <table id="example" class="table table-bordered" >
              
              <thead>
              <tr>
                  <th>ລະຫັດ</th>
                  <th>ຊື່ສະມາຊິກ</th>
                  <th>ແກ້ໄຂ</th>
                  
                 
                  
              </tr>
              </thead>
              <tbody>
                      <tr>
                              <td>0001</td>
                              <td>ທ້າວ ໂຊກໄຊ ແກ້ວພິລາວັນ</td>
                              <td><span class="badge badge-pill badge-success">ຫົວຫນ້າທີມ</span></td>
                            
                             
                              
                      </tr>
                      <tr>
                              <td>0002</td>
                              <td>ທ້າວ ສອນໄຊ ເກດແກ້ວ</td>
                              <td></td>
                             
                              
                             
                      </tr>
                      <tr>
                              <td>0003</td>
                              <td>ທ້າວ ໄຊນະພາ ພົມວິຫານ</td>
                              <td></td>
                             
                              
                      </tr>
              </tbody>
          </table>
         
      </div>
      
      </nb-card-body>
      <nb-card-footer>
        <button type="submit" class="btn btn-success" (click)="updateUser()">
          Save
        </button>

        &nbsp;
        <button class="btn btn-default" (click)="close()">
          close
        </button>

      </nb-card-footer>
    </nb-card>
  </div>
