<h2 class="grid-h">Jobs of day Add </h2>
<div class="row" *ngIf="!isdelete">
  <div class="col-md-12">
    <nb-card class="col-md-12">
      <nb-card-header>
        <h3>Job</h3>
      </nb-card-header>
      <nb-card-body>
          <div class="row ">
              <div class="col-sm-6 input-group">
                <h3>ຫົວຂໍ້ວຽກ</h3>             
                <input type="text" nbInput fullWidth placeholder="Name">
              </div> 
          </div> 
          <br/>
          <div class="row ">
            
              <div class="col-sm-6 input-group">
                  <h3>ເວລາ</h3>             
                  <select class="form-control" >
                      <option value="">ເລືອກ</option>
                      <option value="ທ້າວ ກ">ທ້າວ ກ</option>
                      <option value="">ທ້າວ ຂ</option>
                      <option value="">ນາງ ງ</option>
                      <option value="">ທ້າວ ຈ</option>
                  </select>
              </div>
          </div>  
          <br/>
          <div class="row ">
              <div class="col-sm-12 input-group">
                  <h3>ພະນັກງານ</h3>             
                  <select class="form-control" >
                      <option value="">ເລືອກ</option>
                      <option value="ທ້າວ ກ">ທ້າວ ກ</option>
                      <option value="">ທ້າວ ຂ</option>
                      <option value="">ນາງ ງ</option>
                      <option value="">ທ້າວ ຈ</option>
                  </select>
              </div>    
          </div> 
          <br/>
          <div class="row ">
              <div class="col-sm-6 input-group">
                  <h3>ລາຍລະອຽດ</h3>             
                  <textarea rows="6" placeholder="Text Area" class="form-control"></textarea>
              </div> 
          </div> 
      </nb-card-body>
    <nb-card-footer>
        <button  class="btn btn-success" (click)="updatejob()" >
            Save
        </button>
        &nbsp;
        <button  class="btn btn-default" (click)="close()">
            close
        </button>

    </nb-card-footer>
    </nb-card>
  </div>
</div>
<div class="row" *ngIf="isdelete">
    <div class="col-md-12">
      <nb-card class="col-md-12">
        <nb-card-header>
          <h3>Delete Job</h3>
        </nb-card-header>
        <nb-card-body>
          Are you sure to delete this item ?
        </nb-card-body>
      <nb-card-footer>
          <button  class="btn btn-success" (click)="updatejob()" >
              Confrim
          </button>
          &nbsp;
          <button  class="btn btn-default" (click)="close()">
              Cancel
          </button>
  
      </nb-card-footer>
      </nb-card>
    </div>
  </div>