<h2 class="grid-h">Score</h2>
<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
          <div class="row">
            <h3 class="col-md-11" >Document List</h3>
            
          </div>
        
      </nb-card-header>
      <nb-card-body>
        
          <div class="table-responsive">
              <table class="table table-bordered ">
                <thead>
                  <tr>
                    <th> ລະຫັດ</th>
                    <th> ຫົວຂໍ້ </th>
                    <th> ວັນທີ </th>
                    <th> ຄຳຮ້ອງຂໍ </th>
                    <th> ພະແນກ </th>
                    <th> ສະຖານະ </th>
                    <th> Actions</th>
                  </tr>
                </thead>
                <tbody>
                 
                  <tr>
                    <td>0001</td>
                    <td>ໃບອອກວຽກນອກ</td>
                    <td>10/06/2019</td>
                    <td>ອານຸມັດແລ້ວ</td>
                    <td>IT</td>
                    <td> <span class="badge badge-pill badge-success">ສຳເລັດ</span> </td>
                    <td>
                      <a nbButton shape="round" status="success" (click)="score()"><i class="fas fa-star-half-alt"></i></a>&nbsp;   
                     
                    </td>
                    
                  </tr>
                 
                </tbody>
              </table>
            </div>


      </nb-card-body>
    </nb-card>
  </div>
  
  
</div>

