<div class="col-md-12">
  <nb-card class="col-md-12">
    <nb-card-header>
      <H4>ເລືອກສະມາຊີກ</H4>
    </nb-card-header>
    <nb-card-body>

        <div class="table-responsive">
            <table id="example" class="table table-bordered" >
            
            <thead>
            <tr>
                <th width="100px">ລະຫັດ</th>
                <th width="350px">ຊື່ສະມາຊິກ</th>
                <th width="10%">ແກ້ໄຂ</th>
                <th width="10%">ເລືອກ</th>
                
               
                
            </tr>
            </thead>
            <tbody>
                    <tr>
                            <td>0001</td>
                            <td>ທ້າວ ໂຊກໄຊ ແກ້ວພິລາວັນ</td>
                            <td align="center"><input type="checkbox" value=""></td>
                            <td align="center"><input type="checkbox" value=""></td>
                          
                           
                            
                    </tr>
                    <tr>
                            <td>0002</td>
                            <td>ທ້າວ ສອນໄຊ ເກດແກ້ວ</td>
                            <td align="center"><input type="checkbox" value=""></td>
                            <td align="center"><input type="checkbox" value=""></td>
                           
                            
                           
                    </tr>
                    <tr>
                            <td>0003</td>
                            <td>ທ້າວ ໄຊນະພາ ພົມວິຫານ</td>
                            <td align="center"><input type="checkbox" value=""></td>
                            <td align="center"><input type="checkbox" value=""></td>
                           
                            
                    </tr>
            </tbody>
        </table>
       
    </div>
    
    </nb-card-body>
    <nb-card-footer>
      <button type="submit" class="btn btn-success" (click)="updateUser()">
        Save
      </button>

      &nbsp;
      <button class="btn btn-default" (click)="close()">
        close
      </button>

    </nb-card-footer>
  </nb-card>
</div>
