

<div class="row" *ngIf="!isdelete">
  <div class="col-md-12">
    <nb-card class="col-md-12">
      <nb-card-header>
        <h3>ຟອມເພີ່ມວຽກ</h3>
      </nb-card-header>
      <nb-card-body>
          <!--<div class="row ">
              <div class="col-sm-12 ">
                <h3>ລະຫັດ</h3>             
                <input type="text" nbInput fullWidth placeholder="ລະຫັຫັດ">
              </div> 
          </div> -->
          
          <div class="row ">
              <div class="col-sm-12">
                <h3>ຊື່</h3>             
                <input type="text" nbInput fullWidth placeholder="ຊື່ວຽກ" [value]="job.jobname" (input)="job.jobname = $event.target.value">
              </div> 
          </div> 
          <br/>
      

          <div class="row ">
              <div class="col-sm-4 input-group">
                <h4>ເວລາສ້າງເອກະສານ</h4>             
                <input type="date" nbInput fullWidth placeholder="" [value]="job.createdtime" (input)="job.createdtime= $event.target.value">
              </div> 
        
              <div class="col-sm-4 input-group">
                <h4>ເວລາເຮັດເອກະສານ</h4>             
                <input type="date" nbInput fullWidth placeholder="" [value]="job.starttime" (input)="job.starttime = $event.target.value">
              </div> 
              
              <div class="col-sm-4 input-group">
                  <h4>ເວລາສີນສຸດ</h4>             
                  <input type="date" nbInput fullWidth placeholder="" [value]="job.endtime" (input)="job.endtime = $event.target.value">
              </div> 
          </div> 
          <br>


        
      </nb-card-body>
    <nb-card-footer>
        <button  class="btn btn-success" (click)="updatejob()" >
            Save
        </button>
        &nbsp;
        <button  class="btn btn-default" (click)="close()">
            close
        </button>

    </nb-card-footer>
    </nb-card>
  </div>
</div>
<div class="row" *ngIf="isdelete">
    <div class="col-md-12">
      <nb-card class="col-md-12">
        <nb-card-header>
          <h3>Delete Job</h3>
        </nb-card-header>
        <nb-card-body>
          Are you sure to delete this item ?
        </nb-card-body>
      <nb-card-footer>
          <button  class="btn btn-success" (click)="updatejob()" >
              Confrim
          </button>
          &nbsp;
          <button  class="btn btn-default" (click)="close()">
              Cancel
          </button>
  
      </nb-card-footer>
      </nb-card>
    </div>
  </div>