<h2 class="grid-h">Jobs Planing</h2>

<div class="infinite-cards row">
  <div class="col-md-12 col-lg-4 col-xxxl-4">
    <nb-card class="own-scroll">
      <nb-card-header>Own Scroll</nb-card-header>
      <nb-list>
        <nb-list-item>
          jobs
        </nb-list-item>
        <nb-list-item>
          jobs
        </nb-list-item>
        <nb-list-item>
          jobs
        </nb-list-item>
       
      </nb-list>
    </nb-card>
  </div>

  <div class="col-md-12 col-lg-4 col-xxxl-4">
    <nb-card class="own-scroll">
      <nb-card-header>Own Scroll</nb-card-header>
      <nb-list>
        <nb-list-item>
          jobs
        </nb-list-item>
        <nb-list-item>
          jobs
        </nb-list-item>
        <nb-list-item>
          jobs
        </nb-list-item>
        <nb-list-item>
          jobs
        </nb-list-item>
        <nb-list-item>
          jobs
        </nb-list-item>
        <nb-list-item>
          jobs
        </nb-list-item>
       
      </nb-list>
    </nb-card>
  </div>

  <div class="col-md-12 col-lg-4 col-xxxl-4">
    <nb-card class="own-scroll">
      <nb-card-header>Own Scroll</nb-card-header>
      <nb-list>
        <nb-list-item>
          jobs
        </nb-list-item>
        <nb-list-item>
          jobs
        </nb-list-item>
        <nb-list-item>
          jobs
        </nb-list-item>
       
      </nb-list>
    </nb-card>
  </div>

 
</div>

<h2 class="grid-h">Chart</h2>
<div class="row">

</div>
<div class="row Chart">
 <div class="col-lg-12">
    <nb-card>
      <nb-card-header>Line</nb-card-header>
      <nb-card-body>
        <ngx-chartjs-line></ngx-chartjs-line>
      </nb-card-body>
    </nb-card>
  </div>

</div>

<h2 class="grid-h">ໄລຍະເວລາ</h2>
<div class="row ">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>Time Line</nb-card-header>
      <nb-card-body>

          <div class="table-responsive">
                                
              <table  class="table table-striped table-bordered"  >
                          
                          
                  <tr>
                      <td colspan="32" align="center">ເດືອນ2</td>
                  <tr>
                  <tr>
                      <td>ວັນທີ</td>
                      <td>1</td>
                      <td>2</td>
                      <td>3</td>
                      <td>4</td>
                      <td>5</td>
                      <td>6</td>
                      <td>7</td>
                      <td>8</td>
                      <td>9</td>
                      <td>10</td>

                      <td>11</td>
                      <td>12</td>
                      <td>13</td>
                      <td>14</td>
                      <td>15</td>
                      <td>16</td>
                      <td>17</td>
                      <td>18</td>
                      <td>19</td>
                      <td>20</td>

                      <td>21</td>
                      <td>22</td>
                      <td>23</td>
                      <td>24</td>
                      <td>25</td>
                      <td>26</td>
                      <td>27</td>
                      <td>28</td>
                      <td>29</td>
                      <td>30</td>
                      <td>31</td>
                  </tr> 
                    
                  <tr>
                      <td>Jobs</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td bgcolor="#00FF00"></td>
                      <td bgcolor="#00FF00"></td>
                      <td bgcolor="#00FF00"></td>
                      <td bgcolor="#00FF00"></td>
                      <td bgcolor="#00FF00"></td>
                      <td bgcolor="#00FF00"></td>
                      <td></td>

                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>

                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      
                      
                  </tr>
            
                  <tr>
                  <td>Jobs</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td  bgcolor="#FFF933"></td>
                  <td  bgcolor="#FFF933"></td>
                  <td  bgcolor="#FFF933"></td>
                  <td  bgcolor="#FFF933"></td>

                  <td  bgcolor="#FFF933"></td>
                  <td  bgcolor="#FFF933"></td>
                  <td  bgcolor="#FFF933"></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>

                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                
                  
                  </tr>

              <tr>
                  <td>Jobs</td>
                  <td bgcolor="#3393FF"></td>
                  <td bgcolor="#3393FF"></td>
                  <td bgcolor="#3393FF"></td>
                  <td bgcolor="#3393FF"></td>
                  <td bgcolor="#3393FF"></td>
                  <td bgcolor="#3393FF"></td>
                  <td bgcolor="#3393FF"></td>
                  <td bgcolor="#3393FF"></td>
                  <td bgcolor="#3393FF"></td>
                  <td bgcolor="#3393FF"></td>

                  <td bgcolor="#3393FF"></td>
                  <td bgcolor="#3393FF"></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>

                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  
                  
              </tr>

              <tr>
                  <td>Jobs</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>

                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td bgcolor="#FF9C33"></td>
                  <td bgcolor="#FF9C33"></td>
                  <td bgcolor="#FF9C33"></td>
                  <td bgcolor="#FF9C33"></td>

                  <td bgcolor="#FF9C33"></td>
                  <td bgcolor="#FF9C33"></td>
                  <td bgcolor="#FF9C33"></td>
                  <td bgcolor="#FF9C33"></td>
                  <td bgcolor="#FF9C33"></td>
                  <td bgcolor="#FF9C33"></td>
                  <td bgcolor="#FF9C33"></td>
                  <td bgcolor="#FF9C33"></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  
                  
              </tr>

              <tr>
                  <td>Jobs</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td bgcolor="#9033FF"></td>

                  <td bgcolor="#9033FF"></td>
                  <td bgcolor="#9033FF"></td>
                  <td bgcolor="#9033FF"></td>
                  <td bgcolor="#9033FF"></td>
                  <td bgcolor="#9033FF"></td>
                  <td bgcolor="#9033FF"></td>
                  <td bgcolor="#9033FF"></td>
                  <td bgcolor="#9033FF"></td>
                  <td bgcolor="#9033FF"></td>
                  <td bgcolor="#9033FF"></td>

                  <td bgcolor="#9033FF"></td>
                  <td bgcolor="#9033FF"></td>
                  <td bgcolor="#9033FF"></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  
                  
              </tr>
              <tr>
                  <td>Jobs</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td bgcolor="#FF4F33"></td>
                  <td bgcolor="#FF4F33"></td>
                  <td bgcolor="#FF4F33"></td>
                  <td bgcolor="#FF4F33"></td>

                  <td bgcolor="#FF4F33"></td>
                  <td bgcolor="#FF4F33"></td>
                  <td bgcolor="#FF4F33"></td>
                  <td bgcolor="#FF4F33"></td>
                  <td bgcolor="#FF4F33"></td>
                  <td bgcolor="#FF4F33"></td>
                  <td bgcolor="#FF4F33"></td>
                  <td bgcolor="#FF4F33"></td>
                  <td></td>
                  <td></td>

                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  
                  
              </tr>
              <tr>
                  <td>Jobs</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>

                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>

                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  
                  
              </tr>
              
                      
                    
              
              </table>
          </div>
      
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-lg-12 Lao">
      <nb-card>
        <nb-card-header>ລາຍລະອຽດວຽກ</nb-card-header>
        <nb-card-body>
  
            <div class="table-responsive">
                                
                                
                <table  class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" >
                    <thead>
                      <tr>
                        <th>ຫົວຂໍ້ວຽກ</th>
                        <th>ລາຍລະອຽດ</th>
                        <th>ສະມາຊີກ</th>
                        <th>ສະຖານະ</th>
                      
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Tiger</td>
                        <td>Nixon</td>
                        <td>
                            <a class="user-profile"><img src="images/img.jpg" alt=""></a>
                            <a class="user-profile"><img src="images/img.jpg" alt=""></a>
                            <a class="user-profile"><img src="images/img.jpg" alt=""></a>
                        </td>
                        <td> ສຳເລັດແລ້ວ</td>
                        
                      </tr>
                    
                    </tbody>
                  </table>
                
            </div>
        
        </nb-card-body>
      </nb-card>
    </div>

</div>

<h2 class="grid-h">ຄະແນນລູກທີມ</h2>
<div class="row ">
    
  
    <div class="col-lg-12 Lao">
        <nb-card>
          <nb-card-header>ຕາຕະລາງຄະແນນ</nb-card-header>
          <nb-card-body>
    
              <div class="table-responsive">
                  <table class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" >
                    <thead>
                      <tr>
                        <th>ຮູບພາບ</th>
                        <th>ຊື່ແລະນາມສະກຸນ</th>
                        <th>ພະແນກ</th>
                        <th>ຄະແນນ</th>
                      
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                            <a class="user-profile"><img src="images/img.jpg" alt=""></a>
                        </td>
                        <td> ທ້າວ ໂຊກໄຊ ແກ້ວພິລາວັນ</td>
                        <td>
                            IT Deloper
                        </td>
                        <td align="center" > <span class="label label-info text-center"> 90/100</span></td>
                        
                      </tr>
                    
                    </tbody>
                  </table>
                </div>
          
          </nb-card-body>
        </nb-card>
      </div>
  
  </div>

  <h2 class="grid-h">ໜ້າວຽກລູກທີມ</h2>
  <div class="row ">
    
  
      <div class="col-lg-12 Lao">
          <nb-card>
            <nb-card-header>ໜ້າວຽກລູກທີມ</nb-card-header>
            <nb-card-body>

                <div class="row">
                    
                        <div class="col-md-5 col-sm-5 col-xs-12  ">
                          <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn">
                              <button class="btn btn-default" type="button">Go!</button>
                            </span>
                          </div>
                        </div>
                   

                </div>
                <br/>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered"  >
                     
                        <tr>
                          
                          <td >
                              <div class="cart" style=" min-width:10rem;">
                                  <div class="image view view-first">
                                    <img style="width: 100%; display: block;" src="http://via.placeholder.com/150x120" alt="image" />
                                   
                                  </div>
                                  <div class="caption">
                                    <p><strong>Image Name</strong>
                                    </p>
                                    <p>Snow and Ice Incoming</p>
                                  </div>
                                </div>
                          </td>

                         
                          <td >
                              <div class="thumbnail" style=" min-width:10rem;">
                                  <div class="image view view-first">
                                    <img style="width: 100%; display: block;" src="http://via.placeholder.com/150x120" alt="image" />
                                   
                                  </div>
                                  <div class="caption">
                                    <p><strong>Image Name</strong>
                                    </p>
                                    <p>Snow and Ice Incoming</p>
                                  </div>
                                </div>
                          </td>

                          <td >
                              <div class="thumbnail" style=" min-width:10rem;">
                                  <div class="image view view-first">
                                    <img style="width: 100%; display: block;" src="http://via.placeholder.com/150x120" alt="image" />
                                   
                                  </div>
                                  <div class="caption">
                                    <p><strong>Image Name</strong>
                                    </p>
                                    <p>Snow and Ice Incoming</p>
                                  </div>
                                </div>
                          </td>
                          <td >
                              <div class="thumbnail" style=" min-width:10rem;">
                                  <div class="image view view-first">
                                    <img style="width: 100%; display: block;" src="http://via.placeholder.com/150x120" alt="image" />
                                   
                                  </div>
                                  <div class="caption">
                                    <p><strong>Image Name</strong>
                                    </p>
                                    <p>Snow and Ice Incoming</p>
                                  </div>
                                </div>
                          </td>
                          <td >
                              <div class="thumbnail" style=" min-width:10rem;">
                                  <div class="image view view-first">
                                    <img style="width: 100%; display: block;" src="http://via.placeholder.com/150x120" alt="image" />
                                   
                                  </div>
                                  <div class="caption">
                                    <p><strong>Image Name</strong>
                                    </p>
                                    <p>Snow and Ice Incoming</p>
                                  </div>
                                </div>
                          </td>
                          <td >
                              <div class="thumbnail" style=" min-width:10rem;">
                                  <div class="image view view-first">
                                    <img style="width: 100%; display: block;" src="http://via.placeholder.com/150x120" alt="image" />
                                   
                                  </div>
                                  <div class="caption">
                                    <p><strong>Image Name</strong>
                                    </p>
                                    <p>Snow and Ice Incoming</p>
                                  </div>
                                </div>
                          </td>
                          <td >
                              <div class="thumbnail" style=" min-width:10rem;">
                                  <div class="image view view-first">
                                    <img style="width: 100%; display: block;" src="http://via.placeholder.com/150x120" alt="image" />
                                   
                                  </div>
                                  <div class="caption">
                                    <p><strong>Image Name</strong>
                                    </p>
                                    <p>Snow and Ice Incoming</p>
                                  </div>
                                </div>
                          </td>
                          <td >
                              <div class="thumbnail" style=" min-width:10rem;">
                                  <div class="image view view-first">
                                    <img style="width: 100%; display: block;" src="http://via.placeholder.com/150x120" alt="image" />
                                   
                                  </div>
                                  <div class="caption">
                                    <p><strong>Image Name</strong>
                                    </p>
                                    <p>Snow and Ice Incoming</p>
                                  </div>
                                </div>
                          </td>
                          <td >
                              <div class="thumbnail" style=" min-width:10rem;">
                                  <div class="image view view-first">
                                    <img style="width: 100%; display: block;" src="http://via.placeholder.com/150x120" alt="image" />
                                   
                                  </div>
                                  <div class="caption">
                                    <p><strong>Image Name</strong>
                                    </p>
                                    <p>Snow and Ice Incoming</p>
                                  </div>
                                </div>
                          </td>
                          

                          
                         
                        
                          
                          
                         
                        </tr>
                      
                      </tbody>
                    </table>
                  </div>

      
                
            
            </nb-card-body>
          </nb-card>
      </div>

      <div class="col-lg-12 Lao">
        <nb-card>
          
            <nb-card-body>

                <table  class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" >
                    <thead>
                      <tr>
                        <th>ຫົວຂໍ້ວຽກ</th>
                        <th>ລາຍລະອຽດ</th>
                        <th>ສະມາຊີກ</th>
                        <th>ສະຖານະ</th>
                      
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Tiger</td>
                        <td>Nixon</td>
                        <td>
                            <a class="user-profile"><img src="images/img.jpg" alt=""></a>
                            <a class="user-profile"><img src="images/img.jpg" alt=""></a>
                            <a class="user-profile"><img src="images/img.jpg" alt=""></a>
                        </td>
                        <td> ສຳເລັດແລ້ວ</td>
                        
                      </tr>
                    
                    </tbody>
                  </table>
            
            </nb-card-body>
        </nb-card>
    </div>
  </div>

  <h2 class="grid-h">ໂຄງຮ່າງການຈັດຕັ້ງ</h2>
  <div class="col-lg-12 Lao">
      <nb-card>
        <nb-card-header>ໂຄງຮ່າງການຈັດຕັ້ງ</nb-card-header>
        <nb-card-body>

            <ngx-chart-organization></ngx-chart-organization>
          
        </nb-card-body>
      </nb-card>
    </div>