

<BR/>
<BR/>
<BR/>
<BR/>
<BR/>
<BR/>


<div class="wrapper fadeInDown">
        <div id="formContent">
          <!-- Tabs Titles -->
      
          <!-- Icon -->
          <div class="fadeIn first">
             <H1>Forgot Password</H1>
          </div>
      
          <!-- Login Form -->
          <form>
            <input type="gmail" id="login" class="fadeIn second" name="gmail" placeholder="gmail">
          
            <input type="submit" class="fadeIn fourth" (click)="login()" value="Send">
          </form>
      
          <!-- Remind Passowrd -->
          <div id="formFooter">
            <a class="underlineHover" href="#/auth">go to Login</a>
          </div>
      
        </div>
      </div>