<h2 class="grid-h">Jobs Planing</h2>

<div class="infinite-cards row">
  <div class="col-md-12 col-lg-4 col-xxxl-4">
    <nb-card class="own-scroll">
      <nb-card-header>Own Scroll</nb-card-header>
      <nb-list>
        <nb-list-item>
          jobs
        </nb-list-item>
        <nb-list-item>
          jobs
        </nb-list-item>
        <nb-list-item>
          jobs
        </nb-list-item>
       
      </nb-list>
    </nb-card>
  </div>

  <div class="col-md-12 col-lg-4 col-xxxl-4">
    <nb-card class="own-scroll">
      <nb-card-header>Own Scroll</nb-card-header>
      <nb-list>
        <nb-list-item>
          jobs
        </nb-list-item>
        <nb-list-item>
          jobs
        </nb-list-item>
        <nb-list-item>
          jobs
        </nb-list-item>
       
      </nb-list>
    </nb-card>
  </div>

  <div class="col-md-12 col-lg-4 col-xxxl-4">
    <nb-card class="own-scroll">
      <nb-card-header>Own Scroll</nb-card-header>
      <nb-list>
        <nb-list-item>
          jobs
        </nb-list-item>
        <nb-list-item>
          jobs
        </nb-list-item>
        <nb-list-item>
          jobs
        </nb-list-item>
       
      </nb-list>
    </nb-card>
  </div>

 
</div>



<h2 class="grid-h">Jobs of day</h2>

<div class="infinite-cards row">
  <div class="col-md-12 col-lg-4 col-xxxl-4">
    <nb-card class="own-scroll">
      <nb-card-header>Own Scroll</nb-card-header>
      <nb-list>
        <nb-list-item>
          jobs
        </nb-list-item>
        <nb-list-item>
          jobs
        </nb-list-item>
        <nb-list-item>
          jobs
        </nb-list-item>
       
      </nb-list>
    </nb-card>
  </div>

  <div class="col-md-12 col-lg-4 col-xxxl-4">
    <nb-card class="own-scroll">
      <nb-card-header>Own Scroll</nb-card-header>
      <nb-list>
        <nb-list-item>
          jobs
        </nb-list-item>
        <nb-list-item>
          jobs
        </nb-list-item>
        <nb-list-item>
          jobs
        </nb-list-item>
       
      </nb-list>
    </nb-card>
  </div>

  <div class="col-md-12 col-lg-4 col-xxxl-4">
    <nb-card class="own-scroll">
      <nb-card-header>Own Scroll</nb-card-header>
      <nb-list>
        <nb-list-item>
          jobs
        </nb-list-item>
        <nb-list-item>
          jobs
        </nb-list-item>
        <nb-list-item>
          jobs
        </nb-list-item>
       
      </nb-list>
    </nb-card>
  </div>

 
</div>