<h2 class="grid-h">Document Add</h2>
<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        <h3>Document</h3>
      </nb-card-header>
      <nb-card-body>
        
          <div class="row ">
              <div class="col-sm-2 input-group">
                <h3>ຫົວຂໍ້ວຽກ</h3>             
              </div>
              <div class="col-sm-10 input-group">
                <input type="text" nbInput fullWidth placeholder="ຫົວຂໍ້ວຽກ">
              </div>
              
          </div> 
          <br/>
          <div class="row ">
              <div class="col-sm-2 input-group">
                <h3>ສົງຫາຜູ້ອານຸມັດ</h3>             
              </div>
              <div class="col-sm-3 input-group">
                  <select  class="form-control" >
                      <option value="">ເລືອກ</option>
                      <option value="ທ້າວ ກ">ທ້າວ ກ</option>
                      <option value="">ທ້າວ ຂ</option>
                      <option value="">ນາງ ງ</option>
                      <option value="">ທ້າວ ຈ</option>
                  </select>
              </div>
              
          </div> 
          <br/>
          <div class="row ">
            
              <div class="col-sm-2 input-group">
                  <h3>ລາຍລະອຽດ</h3>             
                </div>
              <div class="col-sm-10 input-group">
               
                 
                  <textarea rows="5" placeholder="ລາຍລະອຽດ" class="form-control"></textarea>
              </div>
             
              
          </div> 
          <br/>
          <div class="row ">
            
              <div class="col-sm-2 input-group">
                  <h3>ເວລາກຳນົດ :</h3>             
                </div>
              <div class="col-sm-3 ">
               
                 <input nbInput fullWidth
                 placeholder="ວັນທີເລີ້ມຕົ້ນ"
                 [nbDatepicker]="datestart" />
                 <nb-datepicker #datestart  ></nb-datepicker>
              </div>
              <div class="col-sm-1 input-group">
                  <h3>ຫາວັນທີ</h3>             
                </div>

              <div class="col-sm-3 ">
               
              
               
                  <input nbInput fullWidth
                  placeholder="ວັນທີກຳນົດ"
                  [nbDatepicker]="dateend" />

                  <nb-datepicker #dateend ></nb-datepicker>
               
               </div>
              
              
              
          </div>  
          <br/>
          <div class="row ">
            
              <div class="col-sm-2 input-group">
                  <h3>ເອກະສານຕິດຄັດ :</h3>             
                </div>
              <div class="col-sm-3 input-group">
               
                  <input id="file"  type="file" class="form-control" multiple>
                 
              </div>
             
              
          </div> 
          <br/>
          <div class="row">
              <div class="col-sm-2 input-group">
                  <h3>ສະມາຊີກ :</h3>          
              </div>
           
            <div class="col-sm-10">
  
  
                   
                    <div class="table-responsive">
                            <table id="example" class="table table-bordered" >
                            
                            <thead>
                            <tr>
                                <th>ລະຫັດ</th>
                                <th>ຊື່ສະມາຊິກ</th>
                                <th>ຄວາມສາມາດ</th>
                               
                                
                            </tr>
                            </thead>
                            <tbody>
                                    <tr>
                                            <td>0001</td>
                                            <td>ທ້າວ ໂຊກໄຊ ແກ້ວພິລາວັນ</td>
                                            <td><span class="badge badge-pill badge-success">ຫົວຫນ້າທີມ</span></td>
                                          
                                           
                                            
                                    </tr>
                                    <tr>
                                            <td>0002</td>
                                            <td>ທ້າວ ສອນໄຊ ເກດແກ້ວ</td>
                                            <td></td>
                                           
                                            
                                           
                                    </tr>
                                    <tr>
                                            <td>0003</td>
                                            <td>ທ້າວ ໄຊນະພາ ພົມວິຫານ</td>
                                            <td></td>
                                           
                                            
                                    </tr>
                            </tbody>
                        </table>
                       
                    </div>
                    <button type="button" class="btn btn-success" title="Add Menber"  data-toggle="modal" data-target="#add_data_Modal" (click)="addmember()">ເພີ້ມສະມາຊິກ</button>
                    <br/>
                    
  
            </div>
            
          </div>
          <div class=" row">
              <label  class="col-sm-2 "></label>
                <div class="col-sm-10">
                    <br/>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value=""> ສາມາດເພີ້ມວຽກໄດ້
                    </label>
                    &nbsp;   
                    <label>
                      <input type="checkbox" value=""> ສາມາດແກ້ໄຂວຽກ
                    </label>
                  </div>
                </div>
          </div>
  
          <div class="row">
              <div class="col-sm-2 input-group">
                  <h3>ໜ້າວຽກ :</h3>        
              </div>
            
            <div class="col-sm-10">
  
  
                   
              <div class="table-responsive">
                <table id="example2" class="table table-bordered" >
                
                <thead>
                <tr>
                    <th>ລະຫັດ</th>
                    <th>ຫົວຂໍ້ວຽກ</th>
                    <th>ວັນທີເລີມ</th>
                    <th>ວັນທີກຳນົດ</th>
                    <th>ສະຖານະພາບ</th>
                    <th>Action</th>
                   
                   
                    
                </tr>
                </thead>
                <tbody>
                        
                        <tr>
                                <td>0001</td>
                                <td>ແປງຄອມ</td>
                                <td>12/3/2019</td>
                                <td>13/3/2019</td>
                                <td></td>
                                <td><button  id="" class="btn btn-round btn-success  View_list" data-toggle="tooltip" title="View"><i class="fa fa-file"></i></button>
                                  <button  id="" class="btn btn-round btn-info     add_sub_job" data-toggle="tooltip" title="Add Sub jobs"><i class="fas fa-plus-square"></i></button>
                                </td>
                               
                              
                                
                        </tr>
                        <tr>
                                <td>0002</td>
                                <td>ເຊັກ Server</td>
                                <td>12/3/2019</td>
                                <td>13/3/201</td>
                                <td></td>
                                <td><button  id="" class="btn btn-round btn-success  View_list" data-toggle="tooltip" title="View"><i class="fa fa-file"></i></button>
                                  <button  id="" class="btn btn-round btn-info     add_sub_job" data-toggle="tooltip" title="Add Sub jobs"><i class="fas fa-plus-square"></i></button>
                                </td>
                               
                               
                        </tr>
                        <tr>
                                <td>0003</td>
                                <td>ອອກແບບເວັບໄຊ</td>
                                <td>19/3/2019</td>
                                <td>22/3/2019</td>
                                <td></td>
                                <td><button  id="" class="btn btn-round btn-success  View_list" data-toggle="tooltip" title="View"><i class="fa fa-file"></i></button>
                                  <button  id="" class="btn btn-round btn-info     add_sub_job" data-toggle="tooltip" title="Add Sub jobs"><i class="fas fa-plus-square"></i></button>
                                </td>
                                
                                
                        </tr> 
                </tbody>
            </table>
        </div>

                                    <button type="button" class="btn btn-success addjobs_data" title="Add Jobs" name="add" id="addjobs_data" (click)="addjobs()" >ເລືອກວຽກ</button>
                                    &nbsp;
                                    <button type="button" class="btn btn-success" title="Crate Jobs" name="add" id="add" >ສ້າງວຽກ</button>
                    
  
            </div>
            
          </div>
         
              
        
        
         


      </nb-card-body>
    <nb-card-footer>
        <button  class="btn btn-success"  >
            Save
        </button>
        &nbsp;
        <button  class="btn btn-default" (click)="goblack()">
            close
        </button>

    </nb-card-footer>
    </nb-card>
  </div>

  
  
  
</div>


