<h2 class="grid-h">Document Add</h2>
<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        <h3>Document</h3>
      </nb-card-header>
      <nb-card-body>

        <div class="row ">
          <div class="col-sm-2 input-group">
            <h5>ຫົວຂໍ້ເອກະສານ</h5>
          </div>
          <div class="col-sm-10 input-group">
            <input type="text" nbInput fullWidth placeholder="ຊື່ເອກະສານ" (input)="doc.docname = $event.target.value">
          </div>

        </div>
        <br />
        <div class="row ">
          <div class="col-sm-2 input-group">
            <h3>ສົງຫາຜູ້ອານຸມັດ</h3>
          </div>
          <div class="col-sm-3 input-group">
            <select class="form-control">
              <option value="">ເລືອກ</option>
              <option value="ທ້າວ ກ">ທ້າວ ກ</option>
              <option value="">ທ້າວ ຂ</option>
              <option value="">ນາງ ງ</option>
              <option value="">ທ້າວ ຈ</option>
            </select>
          </div>

        </div>
        <br />
        <div class="row ">

          <div class="col-sm-2 input-group">
            <h3>ລາຍລະອຽດ</h3>
          </div>
          <div class="col-sm-10 input-group">


            <textarea rows="6" nbInput fullWidth placeholder="ລາຍລະອຽດວຽກ"
              (change)="doc.description = $event.target.value"></textarea>
          </div>


        </div>
        <br />
        <div class="row ">

          <div class="col-sm-2 input-group">
            <h3>ເວລາກຳນົດ :</h3>
          </div>
          <div class="col-sm-3 ">

            <input type="date" nbInput fullWidth (input)="doc.starttime = $event.target.value">

          </div>
          <div class="col-sm-1 input-group">
            <h3>ຫາວັນທີ</h3>
          </div>

          <div class="col-sm-3 ">



            <input type="date" nbInput fullWidth (input)="doc.endtime = $event.target.value">



          </div>



        </div>
        <br />
        <div class="row ">

          <div class="col-sm-2 input-group">
            <h3>ເອກະສານຕິດຄັດ :</h3>
          </div>
          <div class="col-sm-3 input-group">

            <input id="file" type="file" class="form-control" multiple>

          </div>


        </div>
        <br />
        <div class="row">
          <div class="col-sm-2 input-group">
            <h3>ສະມາຊີກ :</h3>
          </div>

          <div class="col-sm-10">
            <div class="table-responsive">
              <template *ngFor="let m of doc.memers">

              </template>

            </div>
            <button type="button" class="btn btn-success" title="Add Menber" data-toggle="modal"
              data-target="#add_data_Modal" (click)="addmember()">ເພີ້ມສະມາຊິກaaa</button>
            <br>
            <br>
            <div class="row">
                <div class="col-sm-2 input-group">
                  <H5>ສະມາຊິກ :</H5>
                </div>
                <div *ngFor="let  l of _selectedUsers; index as i">
                  <h5>{{l._id}}<b>;</b></h5>
                </div>
              </div>
        

          </div>

        </div>
       

 
        <div class="row">
          <div class="col-sm-2 input-group">
            <h3>ໜ້າວຽກ :</h3>
          </div>
        
        <div class="col-sm-10">
          <button type="button" class="btn btn-success addjobs_data" title="Add Jobs" name="add" id="addjobs_data"
            (click)="addjobs()">ສ້າງວຽກ</button>
        <br>
        <br>
      </div> 

      <div class="row">
        <div class="col-sm-2 input-group">
          <h5>ໜ້າວຽກ :</h5>
          <div *ngFor="let u of _selectedJob">
            <b>{{u.jobname}};</b>
          </div>
        </div>
      </div>


        <div class="table-responsive">
          <table class="table table-bordered ">
            <thead>
              <tr>
              <!--<th>ລະຫັດ</th>-->  
                <th> ຊື່ວຽກ</th>
                <th>ລາຍລະອຽດວຽກ</th>
                <th> ເລືອກ </th>
           
                

              </tr>
            </thead>
            <tbody>
      
              <ng-container *ngFor="let j of jobList index as i" > 
                <tr >
                   <!-- <td> <input type="checkbox" data-md-icheck (change)="selectJob(j,$event)" />
                      <span *ngIf="marked">{{j._id}}</span>
                      <span *ngIf="!marked">{{j._id}}</span>
                   </td> --> 


                
                    <!--<td>{{j.jobname}}</td>-->

                    <td> <input type="checkbox" data-md-icheck (change)="selectJob(j,$event)" />
                      <span *ngIf="marked">{{j.jobname}}</span>
                      <span *ngIf="!marked">{{j.jobname}}</span>
                   </td>

                    <td>{{j.description}}</td>
                    <td>{{j.members}}</td>
                    <td><button type="button" class="btn btn-success addjobs_data" title="Add Jobs" name="add" id="addjobs_data"
                      (click)="job_delete()">ສ້າງວຽກ</button></td>
                  
                   
              
               
                    
                </tr>
              </ng-container>

            </tbody>
          </table>
        </div>


  <!--   <div class="row">
            <div class="col-sm-2 input-group">
              <H5>ໜ້າວຽກ :</H5>
            </div>
            <div *ngFor="let j of _selectedJobs; index as i">
              <h5>{{j.jobname}}<b>;</b></h5>
            </div>
          </div>-->
        </div>    

         
       

      </nb-card-body>
      <nb-card-footer>
        <button class="btn btn-success" (click)="insertdoc()">
          Savesdddd
        </button>
        &nbsp;
        <button class="btn btn-default" (click)="goblack()">
          close
        </button>

      </nb-card-footer>
    </nb-card>
  </div>




</div>