
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <nb-card>
      <nb-card-header>
        <h3>Config server</h3>
      </nb-card-header>
      <nb-card-body>
        
         
          <br/>
          <div class="row ">
              <div class="col-sm-4 input-group">
                <h3>Server address</h3>
              </div>
              <div class="col-sm-8   input-group">
                <input type="text" nbInput fullWidth placeholder="IP">
              </div>
              
          </div> 
        
          <br/>

          <div class="row ">
              <div class="col-sm-4 input-group">
                <h3>User</h3>
              </div>
              <div class="col-sm-8   input-group">
                <input type="text" nbInput fullWidth placeholder="User">
              </div>
              
          </div> 

          <br/>

          <div class="row ">
              <div class="col-sm-4 input-group">
                <h3>Password</h3>
              </div>
              <div class="col-sm-8   input-group">
                <input type="text" nbInput fullWidth placeholder="Password">
              </div>
              
          </div> 
          <br/>

          <div class="row ">
              <div class="col-sm-4 input-group">
                <h3>Database</h3>
              </div>
              <div class="col-sm-8   input-group">
                <input type="text" nbInput fullWidth placeholder="Name Database">
              </div>
              
          </div> 
        
        
         


      </nb-card-body>
    <nb-card-footer>
        <button  class="btn btn-success" >
            Save
        </button>
        &nbsp;
        <button  class="btn btn-default" (click)="goblack()">
            close
        </button>

    </nb-card-footer>
    </nb-card>
  </div>
  
  
</div>


