<h2 class="grid-h"> Jobs Planing List</h2>
<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
          <div class="row">
            <h3 class="col-md-11" >Jobs Planing</h3>
            <div class="col-md-1" ><button  class="btn btn-success" (click)="add()">
                <i class="fas fa-plus-square"></i>
              </button></div>
          </div>
        
      </nb-card-header>
      <nb-card-body>
        
          <div class="table-responsive">
              <table class="table table-bordered ">
                <thead>
                  <tr>
                    <th> ລະຫັດ</th>
                    <th> ຫົວຂໍ້ວຽກ </th>
                    <th> ວັນທີເລີມ </th>
                    <th> ວັນທີກຳນົດ </th>
                    <th> ສະຖານະ </th>
                    <th> Actions</th>
                  </tr>
                </thead>
                <tbody>
                 
                  <tr>
                    <td>0001</td>
                    <td>ໃບອອກວຽກນອກ</td>
                    <td>12/04/2019</td>
                    <td>12/04/2019</td>
                    <td>ສຳເລັດ</td>
                    <td>
                      <a nbButton shape="round" status="info" (click)="edit()"><i class="fas fa-edit"></i></a>&nbsp;   
                      <a nbButton shape="round" status="danger" ><i class="fas fa-trash-alt"></i></a>
                    </td>
                    
                  </tr>
                 
                </tbody>
              </table>
            </div>


      </nb-card-body>
    </nb-card>
  </div>
  
  
</div>

