<!-- <form (submit)="adduser()" > -->
<h2 class="grid-h">User Add</h2>
<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        <h3>User</h3>
      </nb-card-header>
      <nb-card-body>
       
          <div class="row ">
              <div class="col-sm-4 input-group">
                <input required id="firstName"  type="text" nbInput fullWidth placeholder="firstname"  [value]="user.firstname" (input)="user.firstname = $event.target.value">
              </div>
              <div class="col-sm-4 input-group">
                <input  required id="lastName"  type="text" nbInput fullWidth placeholder="lastName"    [ngModel]="user.lastname" (ngModelChange)="user.lastname = $event">
              </div>
              <div class="col-sm-4 input-group">
                  <input type="file" nbInput fullWidth placeholder="Name">
              </div>
          </div> 
          <br/>
          <div class="row ">
            

              <div class="col-sm-4 input-group">
               
                 
                  <select class="form-control" >
                      <option value="">ເລືອກ</option>
                      <option value="ທ້າວ ກ">ທ້າວ ກ</option>
                      <option value="">ທ້າວ ຂ</option>
                      <option value="">ນາງ ງ</option>
                      <option value="">ທ້າວ ຈ</option>
                  </select>
              </div>
              <div class="col-sm-4 input-group">
                  <select  class="form-control" >
                      <option value="">ເລືອກ</option>
                      <option value="ທ້າວ ກ">ທ້າວ ກ</option>
                      <option value="">ທ້າວ ຂ</option>
                      <option value="">ນາງ ງ</option>
                      <option value="">ທ້າວ ຈ</option>
                  </select>
              </div>
              <div class="col-sm-4 input-group">
                  <select  class="form-control" >
                      <option value="">ເລືອກ</option>
                      <option value="ທ້າວ ກ">ທ້າວ ກ</option>
                      <option value="">ທ້າວ ຂ</option>
                      <option value="">ນາງ ງ</option>
                      <option value="">ທ້າວ ຈ</option>
                  </select>
              </div>
          </div>  
          <br/>
          <div class="row ">
              <div class="col-sm-4 input-group">
                <input type="text" nbInput fullWidth placeholder="Name">
              </div>
              <div class="col-sm-4 input-group">
                <input type="text" nbInput fullWidth placeholder="Name">
              </div>
             
          </div>  
              
        
        
         


      </nb-card-body>
    <nb-card-footer>
        <button type="submit"  class="btn btn-success" (click)="updateUser()">
            Save
        </button>
    
        &nbsp;
        <button  class="btn btn-default" (click)="goblack()">
            close
        </button>

    </nb-card-footer>
    </nb-card>
  </div>
  
  
</div>
<!-- </form> -->

