@import '../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

table,th,tr,td { font-size: 20px; }

@include nb-install-component() {
    .infinite-cards {
      nb-card {
        &.own-scroll {
          height: 70vh;
         // width: 60vh
        }
      }
    }
   
  }

  nb-card{
    /* Set "my-sec-counter" to 0 */
    counter-reset: my-sec-counter;
  }

  h6::before {
    /* Increment "my-sec-counter" by 1 */
    counter-increment: my-sec-counter;
    content: "No" counter(my-sec-counter) ".";
  }
  