
<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
          <div class="row">
            <h3 class="col-md-11" >Jobs of day</h3>
            <div class="col-md-1" ><button  class="btn btn-success" (click)="job_add()">
                <i class="fas fa-plus-square"></i>
              </button></div>
          </div>
        
      </nb-card-header>
      <nb-card-body>
        
          <div class="table-responsive">
              <table class="table table-bordered ">
                <thead>
                  <tr>
                    <th> jobname</th>
                    <th> dockid </th>
                    <th> createdtime </th>
                    <th> starttime </th>
                    <th> endtime </th>
                    <th> Complete</th>
                  </tr>
                </thead>
                <tbody>
                 

                  <tr>
                    <td>k</td>
                    <td>1</td>
                    <td>10:00 AM</td>
                    <td>11:00 AM</td>
                    <td>12:00 PM</td>
                    <td><input type="checkbox" name="vehicle" value="Bike"> </td>
                  </tr>

                </tbody>
              </table>
            </div>


      </nb-card-body>
    </nb-card>
  </div>
  
  
</div>

