<h2 class="grid-h">Add Jobs </h2>
<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        <h3>Jobs</h3>
      </nb-card-header>
      <nb-card-body>
          <div class="row ">
              <div class="col-sm-2 input-group">
                <h3>ຫົວຂໍ້ວຽກ</h3>             
              </div>
              <div class="col-sm-10 input-group">
                  <input type="text" nbInput fullWidth  placeholder="ຫົວຂໍ້ວຽກ" (input)="job.jobname = $event.target.value">
              </div>
              
          </div> 
          <br/>
          <div class="row ">
            
              <div class="col-sm-2 input-group">
                  <h3>ລາຍລະອຽດ</h3>             
                </div>

              <div class="col-sm-10 input-group">
                  <textarea  rows="6" nbInput fullWidth placeholder="ລາຍລະອຽດວຽກ" (change)="job.description = $event.target.value" ></textarea> 
              </div>             
          </div> 
          <br/>

          <div class="row ">
            
            
             <!-- <div class="col-sm-3 ">
                {{now}}

               <input nbInput fullWidth
                 placeholder="ວັນທີເລີ້ມຕົ້ນ"
                 [nbDatepicker]="datestart" />
                 <nb-datepicker #datestart  ></nb-datepicker>
              </div> --> 

              <div class="col-sm-2 input-group">
                  <h3>ເວລາກຳນົດ:</h3>             
                </div>
              <div class="col-sm-3 ">
            
               <input nbInput fullWidth
                 placeholder="ວັນທີເລີ້ມຕົ້ນ"
                 [nbDatepicker]="datestart" />
                 <nb-datepicker #datestart  ></nb-datepicker>
              </div> 

              <div class="col-sm-1 input-group">
                  <h3>ຫາວັນທີ</h3>             
                </div>
              <div class="col-sm-3 ">
                  <input nbInput fullWidth
                  placeholder="ວັນທີກຳນົດ"
                  [nbDatepicker]="dateend" /> 
                  <nb-datepicker #dateend ></nb-datepicker>
               </div> 
              
              
              
          </div>  
          <br/>

          <div class="row">
              <div class="col-sm-2 input-group">
                  <h3>ສະມາຊີກ :</h3>          
              </div>
           
            <div class="col-sm-10">
  
  
                   
                    <div class="table-responsive">
                            <table id="example" class="table table-bordered" >
                            
                            <thead>
                            <tr>
                                <th>ລະຫັດ</th>
                                <th>ຊື່ສະມາຊິກ</th>
                                <th>ຄວາມສາມາດ</th>
                             
                               
                                
                            </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let u of userList index as i">
                                <td>{{u._id}}</td>
                                <td>{{u.username}}</td>
                                <td>{{u.permission}}</td>
                             
                              </tr>
                            </tbody>
                        </table>
                       
                    </div>
                    <button type="button" class="btn btn-success" title="Add Menber"  data-toggle="modal" data-target="#add_data_Modal">ເພີ້ມສະມາຊິກ</button>
                    <br/>
                    <!--ສ່ວນສະມາຊິກ-->
  
            </div>
            
          </div>
          <div class=" row">
              <label  class="col-sm-2 "></label>
                <div class="col-sm-10">
                    <br/>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value=""> ສາມາດເພີ້ມວຽກໄດ້
                    </label>
                    &nbsp;   
                    <label>
                      <input type="checkbox" value=""> ສາມາດແກ້ໄຂວຽກ
                    </label>
                  </div>
                </div>
          </div>
  
          <div class="row">
              <div class="col-sm-2 input-group">
                  <h3>ໜ້າວຽກ :</h3>        
              </div>
            
            <div class="col-sm-10">
  
  
                   
              <div class="table-responsive">
                <table id="example2" class="table table-bordered" >
                
                <thead>
                <tr>
                  
                    <th>ຫົວຂໍ້ວຽກ</th>
                    <th>ວັນທີເລີມ</th>
                    <th>ວັນທີກຳນົດ</th>
                    <th>ສະຖານະພາບ</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                        
                    <ng-container *ngFor="let j of jobList index as i" > <!--ແປງຊື່ຕົວປຽນໃຫ້ສັນລົງ-->
                      <tr>
                         <!-- <td>{{j._id}} -- {{showTimeDiff()}} </td> -->
                   
                          <td>{{j.jobname}}</td>
                          <td>{{j.starttime | date:'short'}}</td>
                          <td>{{j.endtime | date:'short'}}</td>
                          
                      </tr>
                    </ng-container>
              
                </tbody>
            </table>
        </div>

                                    <button type="button" class="btn btn-success addjobs_data" title="Add Jobs" name="add" id="addjobs_data" >ເລືອກວຽກ</button>
                                    &nbsp;
                                    <button type="button" class="btn btn-success" title="Crate Jobs" name="add" id="add" >ສ້າງວຽກ</button>
            </div>
            
          </div>
          <button  class="btn btn-success" (click)="updatejob()" >
              save
          </button>
          &nbsp;
          <button  class="btn btn-default" (click)="close()">
              Cancel
          </button>
      </nb-card-body>

    </nb-card>
  </div>


