
<div class="row">
    <div class="col-md-12">
      <nb-card>
        <nb-card-header>
            <div class="row">
              <h3 class="col-md-11" >regularjob of day</h3>
              
            </div>
          
        </nb-card-header>
        <nb-card-body>
          
            <div class="table-responsive">
                <table class="table table-bordered ">
                  <thead>
                    <tr>
   
                      <th> ຊື່ວຽກ</th>
                      <th>ລາຍລະອຽດວຽກ</th>
                      <th>ເລືອກ</th>
                
                      
  
                    </tr>
                  </thead>
                  <tbody>
  
           <tr>

            <td>work</td>
            <td>slkdllfl</td>
            <td><input type="checkbox"></td>
           </tr>
                        
  
                   <!-- <tr>
                      <td>k</td>
                      <td>1</td>
                      <td>10:00 AM</td>
                      <td>11:00 AM</td>
                      <td>12:00 PM</td>
                      <td><input type="checkbox" name="vehicle" value="Bike"> </td>
                    </tr>
                    -->
  
                  </tbody>
                </table>
              </div>
  
  
        </nb-card-body>
      </nb-card>
    </div>
  </div>