<h2 class="grid-h">Confirm Apply</h2>
<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
          <div class="row">
            <h3 class="col-md-11" >Document</h3>
            
          </div>
        
      </nb-card-header>
      <nb-card-body>
        <div class="row ">
          <div class="col-sm-2 input-group">
            <h4>ຫົວຂໍ້ເອກະສານ :</h4>             
          </div>
          <div class="col-sm-10 input-group">
            <h4>ພົວພັນ ອ.ຍ ຈາກກະຊວງຖາທາລະນະສຸກ</h4>
          </div>
        </div> 
        <div class="row ">
          <div class="col-sm-2 input-group">
            <h4>ຜູ້ອະນຸມັດ :</h4>             
          </div>
          <div class="col-sm-10 input-group">
            <h4>ອຳນວຍການ</h4>
          </div>
        </div> 
        <br/>
        
        <div class="row ">
          <div class="col-sm-2 input-group">
            <h4>ລາຍລະອຽດ :</h4>             
          </div>
          
          <div class="col-sm-10 input-group">
            <h4>orem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus cursus maximus lacus vel ullamcorper. Duis euismod, risus vel faucibus imperdiet, nisl massa congue dolor, ut mollis lacus tortor eget velit. Nam non urna risus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Duis metus orci, consectetur sed risus at, accumsan imperdiet elit. Nullam semper finibus lacus nec volutpat. Fusce convallis nulla ipsum, et hendrerit elit feugiat non.</h4>
          </div>
        </div> 

        <div class="row ">
          <div class="col-sm-2 input-group">
            <h4>ເວລາກຳນົດ :</h4>             
          </div>
          
          <div class="col-sm-10 input-group">
            <h4>ເລີມວັນທີ 12/03/2019 ຫາວັນທີ 12/03/2019</h4>      
          </div>
        </div> 
        <br/>
        <div class="row">
          <label  class="col-sm-2 "><h4>ສະມາຊີກ :</h4></label>
          <div class="col-sm-10">


                 
                  <div class="table-responsive">
                          <table id="example" class="table table-bordered" >
                          
                          <thead>
                          <tr>
                              <th>ລະຫັດ</th>
                              <th>ຊື່ສະມາຊິກ</th>
                              <th>ຄວາມສາມາດ</th>
                             
                              
                          </tr>
                          </thead>
                          <tbody>
                                  <tr>
                                          <td>0001</td>
                                          <td>ທ້າວ ໂຊກໄຊ ແກ້ວພິລາວັນ</td>
                                          <td><span class="badge badge-pill badge-success">ຫົວຫນ້າທີມ</span></td>
                                         
                                          
                                  </tr>
                                  <tr>
                                          <td>0002</td>
                                          <td>ທ້າວ ສອນໄຊ ເກດແກ້ວ</td>
                                          <td></td>
                                          
                                         
                                  </tr>
                                  <tr>
                                          <td>0003</td>
                                          <td>ທ້າວ ໄຊນະພາ ພົມວິຫານ</td>
                                          <td></td>
                                          
                                  </tr>
                          </tbody>
                      </table>
                  </div>
                  

          </div>
          
        </div>

        <div class="row">
          <label  class="col-sm-2 "><h4>ໜ້າວຽກ :</h4></label>
          <div class="col-sm-10">


                 
            <div class="table-responsive">
              <table id="example2" class="table table-bordered" >
              
              <thead>
              <tr>
                  <th>ລະຫັດ</th>
                  <th>ຫົວຂໍ້ວຽກ</th>
                  <th>ວັນທີເລີມ</th>
                  <th>ວັນທີກຳນົດ</th>
                 
                  
              </tr>
              </thead>
              <tbody>
                      
                      <tr>
                              <td>0001</td>
                              <td>ແປງຄອມ</td>
                              <td>12/3/2019</td>
                              <td>13/3/2019</td>
                            
                              
                      </tr>
                      <tr>
                              <td>0002</td>
                              <td>ເຊັກ Server</td>
                              <td>12/3/2019</td>
                              <td>13/3/201</td>
                             
                             
                      </tr>
                      <tr>
                              <td>0003</td>
                              <td>ອອກແບບເວັບໄຊ</td>
                              <td>19/3/2019</td>
                              <td>22/3/2019</td>
                              
                      </tr> 
              </tbody>
          </table>
      </div>
                  

          </div>
          
        </div>
          


      </nb-card-body>
      <nb-card-footer>
        <button  class="btn btn-success" >
          Save
        </button>
      &nbsp;
      <button  class="btn btn-default" (click)="goblack()">
          close
      </button>
      </nb-card-footer>
    </nb-card>
  </div>
  
  
</div>

