<div class="table-responsive">
    <table width="100%"  >
     
        <tr>
          
          <td >
              <div style="position: relative; overflow: hidden; overflow-y: scroll; height: 500px; width: 1900px; padding: 8px;">
                  <div class="tree">
                          <ul>
                              <li>
                                  <a href="#">ຜູ້ອຳນວຍການ
                                          <img src="http://via.placeholder.com/100x100" class="rounded-circle" alt="Cinque Terre" width="50" height="50">
                                  </a>
                                  <ul>
                                      <li>
                                          <a href="#">ພະແນກບັນຊີ
                                                  <img src="http://via.placeholder.com/100x100" class="rounded-circle" alt="Cinque Terre" width="50" height="50">
                                          </a>
                                          <ul>
                                              <li>
                                                  <a href="#">ຮ້ອງຫົວຫນ້າພະແນກ
                                                          <img src="http://via.placeholder.com/100x100" class="rounded-circle" alt="Cinque Terre" width="50" height="50">
                                                  </a>
                                                  <ul>
                                                          <li>
                                                              <a href="#">ຮ້ອງຫົວຫນ້າພະແນກ
                                                                      <img src="http://via.placeholder.com/100x100" class="rounded-circle" alt="Cinque Terre" width="50" height="50">
                                                              </a>
                                                              <ul>
                                                                      <li>
                                                                          <a href="#">ຮ້ອງຫົວຫນ້າພະແນກ
                                                                                  <img src="http://via.placeholder.com/100x100" class="rounded-circle" alt="Cinque Terre" width="50" height="50">
                                                                          </a>
                                                                      </li>
                                                                      
                                                                  </ul>
                                                          </li>
                                                          
                                                  </ul>
                                              </li>
                                              
                                          </ul>

                                      </li>
                                      <li>
                                              <a href="#">ພະແນກໄອທີ
                                                      <img src="http://via.placeholder.com/100x100" class="rounded-circle" alt="Cinque Terre" width="50" height="50">
                                              </a>
                                              <ul>
                                                  <li>
                                                      <a href="#">Font End
                                                          <img src="http://via.placeholder.com/100x100" class="rounded-circle" alt="Cinque Terre" width="50" height="50">
                                                      </a>
                                                  </li>
                                                  <li>
                                                      <a href="#">Black End 
                                                              <img src="http://via.placeholder.com/100x100" class="rounded-circle" alt="Cinque Terre" width="50" height="50">

                                                      </a>
                                                  </li>
                                              </ul>
                                          </li>
                                      <li>
                                          <a href="#">ພະແນກສ້າງ
                                                  <img src="http://via.placeholder.com/100x100" class="rounded-circle" alt="Cinque Terre" width="50" height="50">
                                          </a>
                                          <ul>
                                              <li><a href="#">Grand Child
                                                      <img src="http://via.placeholder.com/100x100" class="rounded-circle" alt="Cinque Terre" width="50" height="50">

                                                  </a>
                                              </li>
                                              <li>
                                                  <a href="#">Grand Child
                                                          <img src="http://via.placeholder.com/100x100" class="rounded-circle" alt="Cinque Terre" width="50" height="50">
                                                  </a>
                                                  <ul>
                                                          <li>
                                                              <a href="#">Font End
                                                                  <img src="http://via.placeholder.com/100x100" class="rounded-circle" alt="Cinque Terre" width="50" height="50">
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="#">Black End 
                                                                      <img src="http://via.placeholder.com/100x100" class="rounded-circle" alt="Cinque Terre" width="50" height="50">

                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="#">Black End 
                                                                          <img src="http://via.placeholder.com/100x100" class="rounded-circle" alt="Cinque Terre" width="50" height="50">

                                                              </a>
                                                          </li>
                                                          
                                                  </ul>
                                              
                                              </li>
                                              <li><a href="#">Grand Child
                                                      <img src="http://via.placeholder.com/100x100" class="rounded-circle" alt="Cinque Terre" width="50" height="50">

                                                  </a>
                                                  
                                              </li>
                                          </ul>
                                      </li>
                                  </ul>
                              </li>
                          </ul>
                  </div>
              </div>
              
          </td>
        </tr>
      
      </tbody>
    </table>
  </div>