
<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
          <div class="row">
            <h3 class="col-md-11" >regularjob of day</h3>
            <div class="col-md-1" ><button  class="btn btn-success" (click)="job_add()">
                <i class="fas fa-plus-square"></i>
              </button></div>
          </div>
        
      </nb-card-header>
      <nb-card-body>
        
          <div class="table-responsive">
              <table class="table table-bordered ">
                <thead>
                  <tr>
 
                    <th> ຊື່ວຽກ</th>
                    <th>ລາຍລະອຽດວຽກ</th>
                    <th> ແຜນສໍາເລັກເອກະສານ </th>
                    <th> ເວລາເລີ້ມເຮັດເອກະສານ </th>
                    <th>ເລີມວຽກ</th>
                    <th> ເວລາເຮັດເອກະສານແລ້ວ </th>
                    <th>ສໍາເລັດ</th>

                    

                  </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let j of jobList; index as i" >
                     
                        <td>{{j.jobname}}</td>
                        <td>{{j.description}}</td>
                        <td>{{j.createdtime | date:'short' }}</td>
                        <td>{{j.starttime | date:'short' }}</td>
                        <td><input type="checkbox" [checked]="j.starttime" (input)="startJob(j)"></td>
                        <td>{{j.endtime | date:'short' }}</td>
 
                        <td><input type="checkbox" [disabled]="j.endtime" [checked]="j.endtime" (input)="endJob(j)"></td>
                        
                        <!--ເຮັດແຊັກບອກໃຫ້ບັນທືກລົງຖານຂໍ້ມູນ
                        disabled:ກັນບໍ່ໃຫ້ປົດແຊັກບອກກັບsຖ້າມີຂໍ້ມູນຢູ່ j.endtime
                        checcke:ຖ້າມີຂໍ້ມູນຢູ່ j.endtime ແລ້ວໃຫ້ແຊກບອກແຮັດວຽກ
                        input:ເຮົາຕ້ອງການບັນທືກໃນຄໍລໍລໍໃດ
                        -->
                    </tr>
                      

                 <!-- <tr>
                    <td>k</td>
                    <td>1</td>
                    <td>10:00 AM</td>
                    <td>11:00 AM</td>
                    <td>12:00 PM</td>
                    <td><input type="checkbox" name="vehicle" value="Bike"> </td>
                  </tr>
                  -->

                </tbody>
              </table>
            </div>


      </nb-card-body>
    </nb-card>
  </div>
</div>